
    <form method='get' action='/quizes/<%= quiz.id %>/answer'>
		<br/>
		<p>Pregunta: <%= quiz.pregunta %></p>
		<br/>
		<p><input type='text' name ='respuesta' placeholder='Respuesta'/></p>
		<br/>
		<input type='submit' value = 'Enviar'/>
	</form>
	<br/><br/><br/>
	<p><strong>Comentarios:</strong></p>
	<% for (index in quiz.comments) { %>
		<% if(quiz.comments[index].publicado || session.user) { %>
			<p>- <%= quiz.comments[index].texto %>
				<% if(!quiz.comments[index].publicado && session.user) { %>
					<a href="/quizes/<%=quiz.id%>/comments/<%=quiz.comments[index].id%>/publish"><button>Publicar</button></a>
				<% } %>
			</p>
		<% } %>
	<%}%>
	<br/><br/>
	<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>
