
    <h2>Estadísticas</h2>
	<br/>
	<p><strong>Preguntas: </strong><%= data[0] %></p> 
	<p><strong>Comentarios totales: </strong><%= data[1] %></p>
	<p><strong>Media de comentarios por pregunta: </strong><%= data[2] %></p>
	<p><strong>Preguntas sin comentarios: </strong><%= data[3] %></p>
	<p><strong>Preguntas con comentarios: </strong><%= data[4] %></p>
